# knime
/ml-knime-workspace/Example Workflows/
/ml-knime-workspace/.metadata/
/ml-knime-workspace/**/port_*/
/ml-knime-workspace/**/.knimenode/
/ml-knime-workspace/**/*.png
data.zip

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# datasets
/data/